<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <span v-bind:title="msg">
            查看此处绑定的提示信息
        </span>
    </div>

    <div id="app2">
        <ol>
            <li v-for="todo in todos">
                {{ todo.text }}
            </li>
        </ol>
    </div>

    <div id="app3">
        <p> {{ message3 }} </p>
        <button v-on:click="reverseMessage">两极反转</button>
    </div>

    <div id="app4">
        <p>
            {{message4}}
        </p>
        <input v-model="message4">
    </div>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                msg: '页面加载于 ' + new Date().toLocaleString()
            }
        })

        var app2 = new Vue({
            el: '#app2',
            data: {
                todos: [
                    { text: '好好学习' },
                    { text: '天天向上' },
                    { text: 'vue很简单' }
                ]
            }
        })




        var app3 = new Vue({
            el: '#app3',
            data: {
                message3: '这是一个两级反转消息测试'
            },
            methods: {
              reverseMessage:  function() {
                  this.message3 = this.message3.split("").reverse().join("")
              }  
            }
        })

        new Vue({
            el: '#app4',
            data: {
                message4: 'Hello Vue.js'
            }
        })



























    </script>
</body>

</html>